<ion-header>
  
</ion-header>
<ion-content class="ion-padding ion-text-center" color="light">
  <img src="../../assets/MM.png" class="logo" />

  <div class="title">
      <h2>MANGA READER</h2>
      <p>Welcome</p>
  </div>

  <div class="ion-margin-top">
      <ion-button expand="block" class="ion-margin-top" [routerLink]="['/regist']" color="warning">SIGN UP</ion-button>
      <ion-button expand="block" class="ion-margin-top" [routerLink]="['/login']"  color="warning">LOGIN</ion-button>
  </div>
</ion-content>